.leaflet-top.leaflet-left {
    /*height: 100%;*/
    transition: transform 0.33s ease-in;
    transform: translateX(calc(-100% - 10px));
}

.leaflet-control-layers-container {
    margin: 10px;
    z-index: 1001;
}

.leaflet-control-layers-container-visible {
    transform: translateX(0%) !important;
}

.leaflet-control-layers {
    max-height: 100vh;
    max-width: 95vw;
    width: 460px;
    padding: 0 0 10px 20px;
    margin: 0 !important;
}

.leaflet-control-layers-header {
    margin: 0;
}

@media screen and (max-width: 576px) {
    .leaflet-control-layers-header {
        font-size: 1rem;
    }
}

.leaflet-control-layers-header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 0;
}

.leaflet-control-layers-header-container {
    margin-bottom: 0;
}


.leaflet-control-layers-header-icon {
    height: 60px;
    width: auto;
    margin-right: 15px;

}

.leaflet-control-layers-header-openbutton {
    display: block;
    position: absolute;
    font-size: 1.33rem;
    top: 10px;
    left: 10px;
    z-index: 999;
    border-radius: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .35)
}

.leaflet-control-layers-header-closebutton {
    margin-left: auto;
}

.leaflet-control-layers-header-closebutton>img {
    display: block;
    width: auto;
    height: 16px;
    transition: transform 0.33s ease-in-out;
}

.leaflet-control-layers-header-closebutton-flipped>img {
    transform: rotateY(180deg);
}

.leaflet-control-layers-list {
    max-height: calc(100% - 30px);
    width: 100%;
}

.leaflet-control-layers-overlays>label:hover {
    background: rgba(0, 0, 0, 0.02);
    cursor: pointer;
}

.leaflet-control-layers-list input {
    cursor: pointer;
}

.leaflet-control-layers-list input+span {
    margin-left: 5px;
}

.leaflet-control-layers-list input:checked~.leaflet-control-layer-legend {
    display: block;
}

.leaflet-control-layers-list .leaflet-control-layer-legend {
    display: none;
    margin-left: -1.75rem;
}

.leaflet-control-layers-overlays .leaflet-control-layer-legend>table>tbody>tr>td:has(> img) {
    width: 36px;
}

.leaflet-control-layers-overlays .leaflet-control-layer-legend>table>tbody>tr>td>img {
    width: 26px;
    height: 18px;
}