.leaflet-container {
    line-height: 1.75;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    border: none !important;
    border-radius: 0;
}

/*div:has(> .leaflet-control-zoom) {
    top: 50%;
}*/

.leaflet-attribution-flag {
    display: none !important;
}

.bounds-tooltip {
    background: transparent;
    border: transparent;
    box-shadow: none;
    font-family: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: #495153;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

/* Dumb way to access bounds layer */
path.leaflet-interactive[stroke="#7d8b8f"] {
    cursor: auto;
}

path.leaflet-interactive:focus {
    outline: none;
}

.leaflet-touch .leaflet-control-attribution,
.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35)
}